body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}
/*--------- NAV -----------------*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #ddd;
}

.nav li a.active {
  color: white;
  background-color: #4CAF50;
}

/*---------NAV END -------------*/
/*---------Page Not Found-------*/

#main{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}
/*---------End PNF--------------*/
.absolute {
  position: relative;
  
  font-weight: bold;
  color: blue;
  width: 50px;
  height: 50px;
  border: 3px solid #73AD21;
  align-content: center;
}
.OR {
  
  font-weight: 300;
  font-weight: bold;
  color: blue;
 
  height: 20px;
  text-align: center;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}


.avatar {
  height: 150px;
  border-radius: 5px;
  margin: auto;
  align-self: start;
  border: 1px solid #dad7d7;
  text-align: center;
}
.avatar p {
  font-weight: bolder;
  padding-top: 20px;
  text-align: center;
}
.welcome {
 
 
  display: flex;
  margin: 0 auto;
  
  
}
.naveLoged {
  height: 20px;
  border-radius: 25px;
  margin-left: 5px;
  align-self: start;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #dad7d7;
  
  border-radius: 3px;
}

.btn {
  
  
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #325632;
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  width: 350px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}


.qheader {
 
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  background-color: #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}


/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}






.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 30px;
}





